.wrapper {
  max-width: 1080px;
  margin: auto;
  padding-inline: 2rem;
}

.wide-wrapper {
  max-width: 1620px;
  margin: auto;
  padding-inline: 2rem;
}

.narrow-wrapper {
  max-width: 720px;
  margin: auto;
  padding-inline: 2rem;
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.icon {
  display: inline;
  width: 2rem;
  height: 2rem;
}

.text-color-green {
  color: var(--clr-green);
}

.text-color-red {
  color: var(--clr-red);
}
