.flavour-selection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin: auto;
  margin-bottom: 4rem;
  gap: 1rem 3rem;
}

.flavour-selection button {
  background: none;
  width: 100%;
  border: none;
  color: var(--clr-text);
  font-size: var(--fs-300);
  text-align: start;
}

.flavour-selection button:hover {
  color: var(--clr-text-hover);
}

.flavour-selection button.active {
  color: var(--clr-text-hover);
  text-decoration: underline;
}

.flavour-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
  margin: auto;
  gap: 2rem;
}

.flavour-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: groove 1rem var(--clr-primary);
}

.flavour-card img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.flavour-card p {
  padding: 0 2rem 1.5rem 2rem;
  text-align: center;
}
