.menu-list {
  display: grid;
  width: 100%;
  justify-self: center;
  gap: 1rem;
  padding: 2rem;
  border: double 1rem var(--clr-gold-600);
}

.menu-list-row {
  display: flex;
  width: 100%;
  justify-self: center;
  justify-content: space-between;
  color: var(--clr-accent);
  font-size: var(--fs-300);
  border-bottom: dotted 4px var(--clr-primary);
}

.dietary-restrictions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.restriction-label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
